.header {
    background-color: #FFFCF3;
    height: 100px;
    padding-left: 12%;
    padding-right: 12%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: top .7s ease-in;

    .logo {
        height: 50px;
        width: auto;
        padding-left: 5px;
    }

    #menu {
        &:hover {
            cursor: pointer;
        }
    }
}

.active {
    top: 0;
}

.headerMenuSection {
    display: flex;
    gap: 72px;

    .menuBar {
        display: flex;
        justify-content: center;
        gap: 32px;
        align-items: center;

        .langSwitch {
            transition: all .8s ease-in-out;
            overflow-y: hidden;
            padding-bottom: 2px;

            &:hover {
                cursor: default;
            }
        }

        .language {
            transform: translateY(-80px);

            span {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .aboutMenu {
            transform: translateY(-200px);
        }

        .skillsMenu {
            transform: translateY(-160px);
        }

        .portfolioMenu {
            transform: translateY(-120px);
        }

        .responsiveAboutMenu {
            transform: translateX(+200px);
        }

        .responsiveSkillsMenu {
            transform: translateX(+400px);
        }

        .responsivePortfolioMenu {
            transform: translateX(+600px);
        }

        .responsiveLanguage {
            transform: translateX(+800px);
        }
    }

    .headerMenu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        cursor: pointer;
        transition: all .5s ease-in-out;

        .menuBtn {
            width: 30px;
            height: 4px;
            background-color: black;
            transition: all .5s ease-in-out;
        }

        .menuBtn::before,
        .menuBtn::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 4px;
            background-color: black;
            transition: all .5s ease-in-out;
        }

        .menuBtn::before {
            transform: translateY(-12px);
        }

        .menuBtn::after {
            transform: translateY(12px);
        }

    }

    .headerMenu.open .menuBtn {
        transform: translateX(-50px);
        background-color: transparent;
    }


    .headerMenu.open .menuBtn::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .headerMenu.open .menuBtn::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
}

.openMenu {
    transform: translateY(0px) translateX(0px) !important;
}

.transFont {
    color: #FF9900;
}

a {
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
    font-family: 'Syne';
    color: black;
    font-size: 24px;
    transition: all .8s ease-in-out;
    overflow-y: hidden;
}

a::after {
    display: block;
    content: '';
    border-bottom: solid 2px #FF9900;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::after {
    transform: scaleX(1);
}

a.fromLeft::after {
    transform-origin: 0% 50%;
}

span {
    &:hover {
        cursor: pointer;
    }
}

.responsiveMenu {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 98;
    width: 100%;
    height: calc(100% - 80px);
    background-color: #FFFCF3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    transform: translateX(100%);
    transition: transform .7s ease-in-out;

    a,
    span {
        font-size: 40px !important;
    }

}

.openResponsiveMenu {
    transform: translateX(0px) !important;
}

.d-none {
    display: none !important;
}

@media (width <=1300px) {
    .header {
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media (width <=1000px) {
    .header {
        height: 80px;

        .logo {
            height: 25px;
        }
    }

    .headerMenuSection {
        gap: 46px;

        .menuBar {
            gap: 16px;

            a {
                font-size: 20px;
                font-weight: 700;
            }

            .language,
            .responsiveLanguage {
                span {
                    font-size: 20px !important;
                    font-weight: 700;
                }
            }
        }

        .headerMenu {
            .menuBtn {
                width: 20px;
                height: 3px;
            }

            .menuBtn::after,
            .menuBtn::before {
                width: 20px;
                height: 3px;
            }

            .menuBtn::after {
                transform: translateY(6px);
            }

            .menuBtn::before {
                transform: translateY(-6px);
            }
        }
    }
}