<div class="footer">
    <div class="leftFooter">
        <img src="../../assets/images/copyright.png" alt="">
        <span>Alexander Dause 2024</span>
    </div>
    <div class="rightFooter">
        <img class="animated reverseBounce" src="../../assets/images/arrow_white.png" alt="">
        <div class="socialMediaIcons">
            <span href="">{{ 'LEGAL_NOTICE' | translate }}</span>
            <div class="gitIcon" onclick="window.open('https://github.com/AlexD1987')"></div>
            <div class="linkedIcon"
                onclick="window.open('https://www.linkedin.com/in/alexander-dause-91884a28a/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BRD94zvYeSn%2BXNk0W425cdQ%3D%3D')">
            </div>
        </div>
    </div>
</div>
<div class="legalNotice">
    <div class="closeLegalNotice">
        <img src="../../assets/images/arrow.png" alt="">
    </div>
    <div class="innerLegalNotice">
        <h1>{{ 'LEGAL_NOTICE' | translate }}</h1>
        <span>{{ 'LEGAL_ONE' | translate }}</span>

    </div>
</div>