.footer {
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 54px;
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .leftFooter {
    color: #FFFCF3;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 4px;

    img {
      height: 24px;
    }
  }

  .rightFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 48px;

    img {
      width: 24px;
      height: auto;
    }

    .socialMediaIcons {
      display: flex;
      gap: 16px;
      align-items: flex-end;

      .gitIcon,
      .linkedIcon {
        width: 48px;
        height: 48px;
        border-radius: 8px;

        &:hover {
          cursor: pointer;
        }
      }

      .gitIcon {
        background-image: url(../../assets/images/git_white.png);
        background-position: center;
        background-size: cover;

        &:hover {
          background-image: url(../../assets/images/git_orange.png);
        }
      }

      .linkedIcon {
        background-image: url(../../assets/images/linked_white.png);
        background-position: center;
        background-size: cover;

        &:hover {
          background-image: url(../../assets/images/linked_orange.png);
        }
      }

      span {
        color: #FFFCF3;
        text-decoration: none;
        font-family: 'Syne';
        padding-bottom: 4px;
        padding-right: 16px;

        &:hover {
          color: #FF9900;
          cursor: pointer;
        }
      }
    }
  }
}

.legalNotice {
  background-color: #FFFCF3;
  width: 100%;
  z-index: 97;
  height: calc(100vh - 80px);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding-left: 12%;
  padding-right: 12%;

  .closeLegalNotice {
    img {
      padding-top: 24px;
      padding-left: 54px;
      width: 40px;
      rotate: 90deg;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (width <= 1300px) {
  .footer {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (width <= 700px) {
  .footer {
    padding-bottom: 48px !important;

    .leftFooter {
      img {
        height: 16px;
      }

      span {
        font-size: 16px;
      }
    }

    .rightFooter {
      img {
        padding-right: 4px;
      }

      .socialMediaIcons {
        gap: 8px;

        .gitIcon,
        .linkedIcon {
          height: 36px;
          width: 36px;
        }
      }
    }
  }
}
