<div class="aboutSection"  id="aboutMe">
  <div class="aboutMe">
    <div class="aboutDescription">
      <div class="aboutText">
        <h3>{{ 'ABOUT_TITLE' | translate }}</h3>
        <span>{{ 'ABOUT_ONE' | translate }}</span>
        <span>{{ 'ABOUT_TWO' | translate }}</span>
        <span>{{ 'ABOUT_THREE' | translate }}</span>
      </div>
      <a href="https://twitter.com/Dave_Conner" class="btn btn-1">
        <svg>
          <rect x="0" y="0" fill="none" width="100%" height="100%"/>
        </svg>
       Let's talk
      </a>
    </div>
    <div class="aboutImage">
      <img src="../../assets/images/3.jpg" alt="">
      <div class="imageBorder">
      </div>
    </div>
  </div>
  <div class="skillsArrow">
    <div class="skillArrowAnimation">
      <img class="runway" src="../../assets/images/arrow_angle.png" alt="">
    </div>
  </div>
</div>
