<div class="aboutSection"  id="aboutMe">
  <div class="aboutMe">
    <div class="aboutDescription">
      <div class="aboutText">
        <h3>About me</h3>
        <span>Hello, I am a front-end developer from the cozy town of Gifhorn, Germany. I have always been passionate
          about technical innovations and interested in the world of development. So now I am eagerly looking forward to
          translating this enthusiasm into crafting intuitive and visually engaging front-end solutions. Join me in
          shaping the digital landscape!</span>
        <span>Over a year ago, I decided to dive into the world of development and make a professional change in that
          direction. The Developer Academy greatly assisted me with its highly practical training program.</span>
        <span>In my previous job as a machine and plant operator, problem-solving was a significant and essential aspect
          of my work, which I found most enjoyable. Since this skill is crucial in programming, I am very excited to
          immerse myself in it.</span>
      </div>
      <a href="https://twitter.com/Dave_Conner" class="btn btn-1">
        <svg>
          <rect x="0" y="0" fill="none" width="100%" height="100%"/>
        </svg>
       Let's talk
      </a>
    </div>
    <div class="aboutImage">
      <img src="../../assets/images/3.jpg" alt="">
      <div class="imageBorder">
      </div>
    </div>
  </div>
  <div class="skillsArrow">
    <div class="skillArrowAnimation">
      <img class="runway" src="../../assets/images/arrow_angle.png" alt="">
    </div>
  </div>
</div>
