<div class="portfolioProjects" id="myProjects">
  <div class="portfolioHead">
    <h3>Portfolio</h3>
    <span>{{ 'PORTFOLIO_DESCRIPTION' | translate  }}</span>
  </div>
  <div class="projectLinks">
    <div class="singleProject">
      <div class="projectImage">
        <img src="../../assets/images/pollo-loco.png" alt="">
        <div class="projectBorder">
        </div>
        <div class="projectInfo">
          <h5>El Pollo Loco</h5>
          <span>HTML | CSS | Javascript</span>
          <div class="linkBtns">
            <a href="" class="btn btn-1">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
             GitHub
            </a>
            <a href="" class="btn btn-1">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
             Live Test
            </a>
          </div>
        </div>
      </div>
      <h4 class="projectCounter">01/03</h4>
    </div>
    <div class="singleProject">
      <h4 class="projectCounter">02/03</h4>
      <div #reverseImage class="projectImage reverseImage">
        <div #reverseInfo class="projectInfo reverseInfo">
          <h5>Ring of Fire</h5>
          <span>Angular | Firebase</span>
          <div class="linkBtns">
            <a href="" class="btn btn-1">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
             GitHub
            </a>
            <a href="" class="btn btn-1">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
             Live Test
            </a>
          </div>
        </div>
        <img src="../../assets/images/ring-of-fire.png" alt="">
        <div #reverseBorder class="reverseBorder">
        </div>
      </div>
    </div>
    <div class="singleProject">
      <div class="projectImage">
        <img src="../../assets/images/join.png" alt="">
        <div class="projectBorder">
        </div>
        <div class="projectInfo">
          <h5>Join</h5>
          <span>HTML | CSS | Javascript</span>
          <div class="linkBtns">
            <a href="" class="btn btn-1">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
             GitHub
            </a>
            <a href="" class="btn btn-1">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
             Live Test
            </a>
          </div>
        </div>
      </div>
      <h4 class="projectCounter">03/03</h4>
    </div>
  </div>
</div>
<div class="skillsArrow">
  <div class="skillArrowAnimation">
    <img class="runway" src="../../assets/images/arrow_angle.png" alt="">
  </div>
</div>
