.portfolioProjects {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-top: 80px;

    .portfolioHead {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .projectLinks {
        margin-left: 12%;
        margin-right: 12%;
        display: flex;
        flex-direction: column;
        gap: 120px;

        .singleProject {
            position: relative;
            display: flex;
            justify-content: space-between;

            .projectImage {
                width: 100%;
                display: flex;

                img {
                    width: 600px;
                    height: auto;
                    z-index: 10;
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                    -webkit-filter: grayscale(100%);
                    -moz-filter: grayscale(100%);
                    filter: grayscale(100%);
                    transition: all 0.5s ease-in-out;
                }

                .projectBorder {
                    border: solid 3px black;
                    width: 600px;
                    height: 337px;
                    position: absolute;
                    z-index: 11;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: opacity 0.5s cubic-bezier(.5, .03, .41, 1),
                        transform 0.5s cubic-bezier(.5, .03, .41, 1);
                }

                .reverseBorder {
                    border: solid 3px black;
                    width: 600px;
                    height: 337px;
                    position: absolute;
                    z-index: 11;
                    top: 0;
                    opacity: 0;
                    transition: opacity 0.5s cubic-bezier(.5, .03, .41, 1),
                        transform 0.5s cubic-bezier(.5, .03, .41, 1);
                }

                .projectInfo {
                    margin-top: 32px;
                    width: 252px;
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    transition: all 0.7s ease-in-out;
                    opacity: 0;
                    z-index: 9;
                    transform: translateX(-200px);

                    h5 {
                        margin-block-end: 0;
                        font-size: 32px !important;
                        font-weight: 700 !important;
                    }

                    span {
                        color: #FF9900;
                    }

                    .linkBtns {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 24px;

                        .btn-1 svg {
                            height: 40px;
                            width: 100%;
                        }

                        .btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-left: 16px;
                            padding-right: 16px;
                            font-size: 24px;
                            line-height: normal;
                            text-align: center;
                            margin: 0;
                        }
                    }
                }

                .reverseInfo {
                    transform: translateX(200px);
                    gap: 32px;

                    img {
                        right: 0 !important;
                    }
                }

                &:hover .projectBorder {
                    animation: fadeIn 0.3s ease-in-out;
                    opacity: 1;
                    transform: translate(8px, 8px);
                }

                &:hover .reverseBorder {
                    animation: fadeIn 0.3s ease-in-out;
                    opacity: 1;
                    transform: translate(-8px, 8px);
                }

                &:hover img {
                    -webkit-filter: grayscale(0%);
                    -moz-filter: grayscale(0%);
                    filter: grayscale(0%);
                }

                &:hover .projectInfo {
                    animation: fadeIn 0.8s ease-in-out;
                    opacity: 1;
                    transform: translateX(100px);
                }

                &:hover .reverseInfo {
                    animation: fadeIn 0.8s ease-in-out;
                    opacity: 1;
                    transform: translateX(-100px) !important;
                }
            }

            .reverseImage {
                justify-content: flex-end;
            }

            h4 {
                font-size: 56px;
                margin-block-start: 0;
                color: #FF9900;
            }
        }
    }
}

.skillsArrow {
    padding-top: 124px;
    padding-left: 12%;
    padding-right: 20%;
    display: flex;
    justify-content: flex-end;

    .skillArrowAnimation {
        overflow: hidden;
        width: 160px;
        height: 160px;
        position: relative;

        img {
            height: 100%;
            position: absolute;
            animation: runAnimation 7s linear infinite;
        }
    }
}

@media (width <=1300px) {
    .projectLinks {
        margin-left: 3% !important;
        margin-right: 3% !important;
    }
}

@media (width <=1100px) {
    .projectLinks {
        gap: 260px !important;
        padding-bottom: 120px;
    }

    .projectImage,
    .reverseImage {
        justify-content: center !important;

        img {
            width: 390px !important;
            height: auto !important;
            aspect-ratio: 16/9 !important;
            position: absolute;
        }

        .projectBorder {
            width: 390px !important;
            height: 218px !important;
            top: auto !important;
            left: auto !important;
        }

        .reverseBorder {
            width: 360px !important;
            height: 200px !important;
        }

        .projectInfo {
            transform: translateY(180px) !important;

            .btn {
                padding-left: 0px !important;
                padding-right: 0px !important;
            }

            &:hover .projectInfo {
                animation: fadeIn 0.8s ease-in-out;
                opacity: 1;
                transform: translateY(500px) !important;
            }

            &:hover .reverseInfo {
                animation: fadeIn 0.8s ease-in-out !important;
                opacity: 1;
                transform: translateY(200px) !important;
            }
        }

        .reverseInfo {
            transform: translateX(0px) !important;
            transform: translateY(0px) !important;
        }

        .projectBorder {
            opacity: 1 !important;
            transform: translate(8px, 8px) !important;
        }

        .reverseBorder {
            opacity: 1 !important;
            transform: translate(-8px, 8px) !important;
        }

        img {
            filter: grayscale(0%) !important;
        }

        .projectInfo {
            opacity: 1 !important;
            transform: translateX(100px) !important;
            transform: translateY(156px) !important;
        }

        .reverseInfo {
            opacity: 1 !important;
            transform: translateX(-100px) !important;
        }
    }

    .projectCounter {
        display: none;
    }
}

@media (width <=600px) {
    .portfolioProjects {
        padding-top: 80px;

        .portfolioHead {
            h3 {
                font-size: 24px !important;
                margin-block-start: 0;
            }

            span {
                font-size: 20px !important;
                text-align: center;
            }
        }

        .projectLinks {
            gap: 230px !important;
            padding-bottom: 120px;

            .projectImage {
                img {
                    width: 340px !important;
                }

                .projectBorder {
                    width: 340px !important;
                    height: 188px !important;
                }

            }
        }
    }

    .skillsArrow {
        padding-bottom: 40px !important;

        .skillArrowAnimation {
            height: 80px;
            width: 80px;
        }
    }
}