<div class="mySkills" id="mySkills">
  <div class="skillTree">
    <h3>{{ 'SKILL_TITLE' | translate }}</h3>
    <div class="skillIcons">
      <div class="singleIcon">
        <img src="../../assets/images/Property 1=html.png" alt="">
        <span class="iconText">HTML</span>
      </div>
      <div class="singleIcon">
        <img src="../../assets/images/Property 1=css.png" alt="">
        <span class="iconText">CSS</span>
      </div>
      <div class="singleIcon">
        <img src="../../assets/images/Property 1=JavScript.png" alt="">
        <span class="iconText">JAVASCRIPT</span>
      </div>
      <div class="singleIcon">
        <img src="../../assets/images/Property 1=Git.png" alt="">
        <span class="iconText">GIT</span>
      </div>
      <div class="singleIcon">
        <img src="../../assets/images/Property 1=Firebase.png" alt="">
        <span class="iconText">FIREBASE</span>
      </div>
      <div class="singleIcon">
        <img src="../../assets/images/Property 1=Scrum.png" alt="">
        <span class="iconText">SCRUM</span>
      </div>
      <div class="singleIcon">
        <img src="../../assets/images/Property 1=Angular.png" alt="">
        <span class="iconText">ANGULAR</span>
      </div>
      <div class="singleIcon">
        <img src="../../assets/images/Property 1=Test Automation.png" alt="">
        <span class="iconText">MATERIAL</span>
      </div>
      <div class="singleIcon">
        <img src="../../assets/images/Property 1=Api.png" alt="">
        <span class="iconText">API</span>
      </div>
    </div>
  </div>

</div>
<div class="skillsArrow">
  <div class="skillArrowAnimation">
      <img class="runway" src="../../assets/images/arrow_angle.png" alt="">
  </div>
</div>
