@keyframes slideway {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mySkills {
  height: calc(100vh - 132px);
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillTree {
  padding-left: 12%;
  padding-right: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;
    background-color: #FFFCF3;
    position: absolute;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: -38px;
  }

  .skillIcons {
    border: solid 3px black;
    padding: 72px;
    padding-top: 88px !important;
    padding-bottom: 56px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;

    .singleIcon {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      width: 146px;

      img {
        transition: all .4s ease-in-out;
      }

      .iconText {
        font-weight: 500;
        opacity: 0;
        transition: opacity 0.5s ease-in;
      }

      &:hover .iconText {
        opacity: 1;
      }

      &:hover img {
        transform: scale(1.03) rotate(7deg);
      }
    }
  }
}

.skillsArrow {
  padding-left: 12%;
  padding-right: 20%;
  display: flex;
  justify-content: flex-end;
  transform: scaleX(-1);

  .skillArrowAnimation {
    overflow: hidden;
    width: 160px;
    height: 160px;
    position: relative;

    img {
      height: 100%;
      position: absolute;
      animation: runAnimation 7s linear infinite;
    }
  }
}
