@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/font/syne-v22-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* syne-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/font/syne-v22-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* syne-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/font/syne-v22-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* syne-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/font/syne-v22-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* syne-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Syne';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/font/syne-v22-latin-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@keyframes runAnimation {
  from {
    transform: translate(100%, -100%);
    /* Startposition: rechte obere Ecke */
  }

  to {
    transform: translate(-100%, 100%);
    /* Endposition: linke untere Ecke */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounceAnimation {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes reverseBounceAnimation {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(30px);
  }

  60% {
    transform: translateY(15px);
  }
}


html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 34px;
}

body {
  margin: 0;
  background-color: #FFFCF3;
}

h1,
h2,
h3,
h4,
h5,
span,
button {
  font-family: 'Syne';
  font-size: 24px;

  &:hover {
    cursor: default;
  }
}

h3 {
  font-size: 56px;
  font-weight: 800;
  margin-block-end: 0;

  &:hover {
    color: #FF9900;
    cursor: default;
  }
}

.btn {
  color: black;
  cursor: pointer;
  // display: block;
  font-size: 32px;
  font-family: 'Syne';
  font-weight: 400;
  line-height: 50px;
  max-width: 270px;
  position: relative;
  text-decoration: none;
  text-align: center;
  width: 100%;

  @media(min-width: 600px) {
    margin: 0 1em 2em;
  }

  &:hover {
    text-decoration: none;
  }
}

.btn-1 {
  background: transparent;
  font-weight: 100;
  transition: all 0.37s ease-in-out;

  svg {
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  rect {
    fill: none;
    stroke: black;
    stroke-width: 6;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }

  &:hover {
    background: transparent;
    font-weight: 600;

    rect {
      stroke-width: 6;
      stroke-dasharray: 15, 310;
      stroke-dashoffset: 48;
      transition: all 1.2s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

.bounce {
  animation: bounceAnimation 10s infinite;
  animation-duration: 2.7s !important;
  animation-delay: 6s !important;
}

.reverseBounce {
  animation: reverseBounceAnimation 1.5s infinite;
  animation-duration: 2.7s !important;
  animation-delay: 6s !important;
}

.d-none {
  display: none;
}
